#loader {
    
    position:fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 20%;
  
    margin-left: 16%;
  
}

.spinner {
    
    width: 250px;
    height: 150px;
    position: relative;
    animation: rotation 0.75s linear infinite;
    border-radius: 100em;
}

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 20;
    stroke-linecap: round;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

